<!DOCTYPE html>
<html>
<head>
  <title>QR Code Generator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <div class="container">
    <div class="form-container">
      <h2>QR Code Generator</h2>
      <form id="qrForm">
        <label for="website">Website Link:</label>
        <input type="text" id="website" name="website" placeholder="Enter the website link">

        <label for="qrName">QR Code Name:</label>
        <input type="text" id="qrName" name="qrName" placeholder="Enter the QR code name">
        <div class="buttons">
          <button type="submit" id="but1">Generate QR Code</button>
          <button type="reset">Reset</button>
          <button type="button" class="show-qr">Show QR</button>
        </div>
      </form>
    </div>
    <div class="empty-container">
      <h3>Your QR here</h3>
      <div class="inner-box"></div>
      <button type="button" class="download" onclick="downloadOutput()">Download QR Code</button>
    </div>
  </div>
  <script>
    var qrForm = document.getElementById("qrForm");
    var link_post = document.getElementById("website");
    var name_post = document.getElementById("qrName");
    var down_butt = document.querySelector(".show-qr");
    var show_butt = document.querySelector(".download");
    show_butt.disabled = true;

    qrForm.addEventListener('submit', function(e) {
      e.preventDefault(); 
      var link_here = link_post.value;
      var name_here = name_post.value;
      var formData = new FormData();
      formData.append('link_get', link_here);
      formData.append('name_get', name_here);

      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/get-link", true);
      xhr.onload = function() {
        if (xhr.status == 200) {
          var response = JSON.parse(xhr.responseText);
          var message = response.message;
          alert(response);
        } else {
          alert("Error generating QR Code");
        }
      };
      xhr.send(formData);
    });

    down_butt.addEventListener("click", displayImage);

    function displayImage() {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', '/image', true);
      xhr.responseType = 'blob';
      xhr.onload = function () {
        if (xhr.status === 200) {
          var blob = xhr.response;
          var url = URL.createObjectURL(blob);
          document.querySelector(".inner-box").style.backgroundImage = `url(${url})`;
          show_butt.disabled = false;
        }
      };
      xhr.send();
    }

    function downloadOutput(){
      window.location.href = "/download-output";
    }
  </script>
</body>
</html>
